#top
{
   color:white;
    background-color: #4CBB17;
    padding-top:0.5%;
    padding-bottom:0.5%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;  
  } 
  .heading {
    font-size: 20px;
padding-top:0.5%; 
  }
 
h5{
   color: #228B22;
      margin-top:1%;
     
  } 
  a{color: #228B22}   
  a:hover {color: #32CD32}  

  .form-control1
  {
  color: #228B22;
  }
.btn-text-center
  {
  text-align: center;}
  
  .form-group
  {
  text-align: center;}
  .form-control
  {
  margin:0%;
  }
  .control
  {
  margin:0%;
  size:80;
  }